* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/vista-de-uma-paisagem-natural-espetacular_23-2150763698.avif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    border-radius: 10px;
    font-size: 30px;
}

button {
    font-size: 50px;
    line-height: 1;
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: #f0f0f0;
  }

#scissors {
    width: 70px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.1);
}

button:active {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}